<!DOCTYPE html>
<html>

<head></head>

<body>
    <!--show how I can move this to the head and it still works -->
    <template>
        <p>I'm coming from <strong> a template!</strong></p>

        <script>
            alert('This will not alert until cloned');
        </script>

        <img src="bad/path.jpg" />
    </template>

    <script>
        
        //The real clone that works
        var template = document.querySelector('template');
        var clone = document.importNode(template.content, true);
        document.body.appendChild(clone);
    </script>

    <div>
        <p>test</p>
    </div>

</body>

</html>