<!DOCTYPE>
<html>

<head>
    <title>Template</title>
</head>

<body>
    <template>
        <p>Web <span class="noun"></span></p>
        <!--<p>Web {{tagline}}</p>-->
        <script>
            alert("hello");
        </script>
    </template>
    <script>
        // Step 1:
        var template = document.querySelector('template');
        
        // Step 2:
        var content = document.importNode(template.content, true);

        // Step 3:
        content.querySelector('.noun').textContent = "Component";
        
        // Step 4:
        document.body.appendChild(content);
        
        // Future
        // content.querySelector('tagline').textContent = "Web Component - Templates"; 
    </script>
</body>

</html>